body{
    padding: 25px 40px 75px 45px;
    font: normal .90em 'trebuchet ms', arial, sans-serif;
    color: #777;
    line-height: 1.5;
    text-align: justify;
    margin:0px 40px 0px 35px; 
}

#text-page{
    margin:0px 150px 0px 150px; 
    background-color: whitesmoke;
}

@media screen and (max-width: 943px){
   #body{
    margin:0px 15px 0px 15px;
    padding: 25px 20px 70px 20px;
   }
    #text-page{
        margin: 0px 5px 0px 5px;
        white-space: normal;
    }

    #sprint-image{
        transform: scale(0.5);
    }
}

/*@media screen and (max-width: 682px){
#navigation-table{
    white-space: normal;
    
}
}*/


h1{
  color: whitesmoke; 
  font: normal 80px 'century gothic', arial, sans-serif;
  font-weight: bold;
  padding-top: 70px;
  margin-bottom: 5px ;
  margin-left: 50px;
}


h3{
    color: rgb(6,137,0); 
    font: normal 37px 'century gothic', arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

h4{
    color:rgb(107,110,119);
    font: normal 20px 'century gothic', arial, sans-serif;
    text-decoration: underline;
    font-weight: bolder;
}

h5{
    color: rgb(248,132,31);
    font: normal 15px 'century gothic', arial, sans-serif;

}


#header{
    color: white;
    background-color: rgb(83,163,24);
    height: 250px;
    
}

a{
    font: normal 'trebuchet ms', arial, sans-serif;
    color: white;
    margin-left: 50px;
    font-weight: bolder;

}

a:hover{
    color:rgb(248,132,31);
}

table{
    width: 70%;
    text-align: center;
    margin: 50px auto 100px auto;
}

#scrum-kanban th{
    background-color: rgb(248,132,31);
}

#scrum-kanban tr:nth-child(even){
    background-color: #afadad80;
}

#scrum-kanban td{
    border: 1px solid rgb(248,132,31);
    padding: 8px;
}

#sprints{
    padding-top: 10px;
}
#sprint-image{
    display: block;
    text-align: center;
    margin-right: 160px;
}

#ceremonies{
    padding-top: 70px;
}
#info-link{
    font-style: italic;
}

footer{
   /* display: block;*/
   background-color: rgb(83,163,24);
   text-align: center;
}

