body{
    padding: 25px 40px 75px 45px;
    font: normal .90em 'trebuchet ms', arial, sans-serif;
    color: #777;
    margin: 0px 50px 0px;
    text-align: justify;    
}

h1{
  color: whitesmoke; 
  font: normal 80px 'century gothic', arial, sans-serif;
  font-weight: bold;
  padding-top: 70px;
  margin-bottom: 5px ;
  margin-left: 50px;
}


h3{
    color: rgb(6,137,0); 
    font: normal 37px 'century gothic', arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

h4{
    color:rgb(107,110,119);
    font: normal 20px 'century gothic', arial, sans-serif;
    text-decoration: underline;
    font-weight: bolder;
}

h5{
    color: rgb(248,132,31);
    font: normal 15px 'century gothic', arial, sans-serif;

}


#header{
    color: white;
    background-color: rgb(83,163,24);
    height: 250px;
    
}

a{
    font: normal 'trebuchet ms', arial, sans-serif;
    color: white;
    margin-left: 50px;
    font-weight: bolder;

}

a:hover{
    color:rgb(248,132,31);
}

table{
    width: 70%;
    text-align: center;
    margin: 50px auto 100px auto;
}

#scrum-kanban th{
    background-color: rgb(248,132,31);
}

#scrum-kanban tr:nth-child(even){
    background-color: #afadad80;
}

#scrum-kanban td{
    border: 1px solid rgb(248,132,31);
    padding: 8px;
}

#sprint-image{
    display: block;
    text-align: center;
    margin-right: 160px;
}

#info-link{
    font-style: italic;
}

#footer{
   /* display: block;*/
   background-color: rgb(83,163,24);
}

#author{
    font: normal 'trebuchet ms', arial, sans-serif;
    color: white;
    /*margin-left: 50px;*/
    font-weight: bolder;
}