h1{
  color: rgb(6,137,0); 
  font: normal 175% 'century gothic', arial, sans-serif;
  font-weight: bold;
}


h3{
    color: rgb(6,137,0); 
    font: normal 175% 'century gothic', arial, sans-serif;
    text-transform: uppercase;
    font-size: medium;
}

h4{
    color: grey;
    font: normal 175% 'century gothic', arial, sans-serif;
    text-decoration: underline;
}

p{
   font: normal .80em 'trebuchet ms', arial, sans-serif;
   color: #777;
}

#sprint-image{
    height: 300px;
    width: 300px;

}